<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">登录</h4>
        </div>
    <div class="login-box blog-modal-content">
        <input type="text" class="form-control" id="login-name" placeholder="请输入用户名">
        <input type="text" class="form-control" id="login-password" placeholder="请输入密码">
        <a type="button" class="btn btn-primary" id="blog-login-admin" onclick="login('admin')">登录</a>
    </div>
</body>
</html>